.form-container {
  border-radius: 8px;
  border: 0.5px solid #d3d3d3;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  margin: 32px auto 16px auto;
  max-width: 500px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

form {
  position: relative;
  margin: 1px;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

.form-title,
.form-text {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border: 0;
}

.form-title:focus,
.form-text:focus {
  outline: none;
}

.form-text {
  letter-spacing: 0.00625em;
  overflow: hidden;
  position: relative;
}

.form-buttons {
  text-align: right;
}

.submit-button,
.close-button {
  margin: 0.2em 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: transparent !important;
  cursor: pointer;
}

.submit-button {
  color: #fff;
  background-color: #007bff;
}

.close-button {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(251, 251, 251);
}
