* {
  padding: 0;
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  font-size: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.header-logo {
  height: 4em;
}

.header-title {
  color: #5f6368;
  font-size: 2rem;
  padding-top: 4px;
  padding-left: 4px;
}

textarea {
  resize: none;
}

textarea:hover {
  resize: vertical;
}
